@model Chef

<div style="margin-bottom = 50px" class="Formpage">
        <div style=" display:flex;">
                <a href="/">Home</a>
                <h1 style="margin-left: 450px;">Add a chef!</h1>         
            </div> 
    <div>
        <span style="color: red;" asp-validation-for="FName"></span><br>
            <span style="color: red;" asp-validation-for="LName"></span><br>
            <span style="color: red;" asp-validation-for="BirthDate"></span><br>

            <form  asp-action="CreateChef" asp-controller = "Home" method = "post">
                <div class="form-group">
                    <label asp-for ="FName" >First Name</label>
                    <input name="FName" asp-for ="FName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for = "LName">Last Name</label>
                   <input name="LName" asp-for ="LName" type="text" class="form-control">
                </div>    
                <div class="form-group">
                    <label asp-for = "BirthDate">Date of Birth</label>
                   <input name="BirthDate" asp-for ="BirthDate" type="date" class="form-control">
                </div> 
        
                <button style = "margin-bottom = 20px"class="btn btn-primary">Add Chef</button>       
    
            </form>                
        </div>
    </div>